<section class="container-fluid">
  <address-form></address-form>

  <!-- <div *ngFor="let location of locations">
    <address-item [address]="location.address"></address-item>
  </div> -->

  <!-- <continent-selector
    (onSelectContinent)="onSelectContinent($event)"
  ></continent-selector>
  <br /><br />
  <country-selector
    [isDependingOnContinent]="true"
    [continent]="continent"
    [countries]="countries"
    (onSelectCountry)="onSelectCountry($event)"
  ></country-selector>
  <br /><br />
  <countries-list [countries]="countries"></countries-list> -->
</section>
